*{
    margin: 0; padding: 0%;
}

li{
    list-style-type: none;
    padding: 0 5px;
}

.nav img{
 width :  200px
}

.nav{
    display: flex;
    font-size: 20px;
    color: white;
    background-color: black;
    
/*    height: max-content;*/
    justify-content: space-between;
    align-items: center;
}

.nav #ul1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
}

#ul2{
    display: flex;
    justify-content: space-between;
    justify-content: safe;
    padding: 20px;
}

p #p1{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

#ul2 a:hover{
    background-color: aqua;
}

.mini{
    display: none;
}

.kind_de_mini{
/*    display: none;*/
    position: absolute;
    top: 0px; right: 0%;
    width: 100%;
    background-color:rgb(22, 22, 22);
    padding-top: 30px;
    
}

.kind_de_mini ul {
/*    display: flex;*/
display: flex;
align-items: center;
background-color: aqua;
flex-direction: column;

}

.kind_de_mini ul li{
    margin: 50px;
}

@media screen and ( max-width : 800px)  {
    
.nav #ul1{
    display: none;
}

.mini{
    display: block;
    margin-right: 10px;
}

}

